* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
:root {
    --blanco: white;
    --rosa: rgb(255, 161, 177);
    --rosa-claro: pink;
    --titulos_oscuros: rgb(6, 0, 87);
    --letra-clara: rgb(24, 24, 24);
    --gris-sombra: rgba(57, 57, 57, 0.628);
}

/* estilos generales del header */
header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 2%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: var(--rosa);
}
/* estilos para las imagenes del header */
.espacio-logo-menu {
    height: 70%;
    width: auto;
    padding: 4px;
    box-sizing: border-box;
}
.imagen-menu {
    height: 100%;
    width: auto;
    border-radius: 50%;
}
/* estilos para el menu del header */
nav {
    display: flex;
    justify-content: center;
    align-self: stretch;
}
.enlace-menu {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--blanco);
    padding: 0 8px;
    font-size: 1.2em;
    height: 100%;
    align-items: center; 
    transition: all ease 0.3s;
}
.enlace-menu:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    background-color: var(--rosa-claro);
    font-size:  1.4em;
}
/* estilos para los idiomas en el menu */
.idiomas {
    display: flex;
    gap: 4px;
    font-weight: bold;
    color: var(--blanco);
    transition: all ease 0.3s;
}
.idiomas p:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* estilos generales del main */
main {
    margin-top: 12vh;
}

/* estilos de mi hero */
.hero {
    width: 100%;
    height: 50vh;
    background-image: url("../imgs/fondo-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 4em;
}
.descripcion-hero {
    width: 70%;
    text-align: center;
    color: var(--letra-clara);
    font-size: 1.1em;
    text-shadow: 0px 1px var(--gris-sombra);
}

/* parte de fondos y flex horizontal */
.fondo-blanco {
    color: var(--letra-clara);
    background-color: var(--blanco);
    width: 100%;
    padding: 6% 2%;
    box-sizing: border-box;
}
h2 {
    font-size: 2em;
    color: var(--titulos_oscuros);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 4%;
}
.font12 {
    font-size: 1.2em;
}
.horizontal-flex p {
    width: 92%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 6%;
}
.horizontal-flex img {
    display: block;
    width: 80%;
    box-shadow: 0px 0px 15px black;
    margin: 0 auto;
}

/* fondo rosa sección de ubicación y contacto */
.fondo-rosa {
    background-color: var(--rosa);
    padding: 6% 2%;
    color: var(--blanco);
}
.fondo-rosa h2 {
    color: var(--blanco);
}
/* estilos del mapa */
iframe {
    display: block;
    width: 80%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    box-shadow: 0px 0px 15px var(--rosa-claro);

    margin-bottom: 12%;
}
/* la parte de info contacto */
.info-contacto {
    text-align: center;
}
h3 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 4%;
}
.enlace-normalizado {
    display: block;
    width: 70%;
    margin: 1% auto;
    padding: 7px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    color: var(--blanco);
    font-size: 1.2em;
    text-decoration: none;
}
.enlace-normalizado:hover {
    cursor: pointer;
}

/* estilos para el formulario */
form {
    width: 90%;
    padding: 4%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label {
    font-size: 1.2em;
    font-family: monospace;
}
input {
    padding: 2px;
    font-size: 1.1em;
}
select {
    font-size: 1.1em;
    padding: 2px;
}
.boton-formulario {
    display: block;
    margin: 4% auto;
    width: 30%;
    text-align: center;

    text-decoration: none;
    color: white;
    background-color: var(--rosa);
    font-size: 1.2em;
    padding: 6px;
    border-radius: 2px;
    box-shadow: 0 0 15px var(--rosa-claro);
}

/* css de mi footer */
footer {
    text-align: center;
    color: white;
    background-color: var(--rosa);
    padding: 2% 0;
    font-size: 0.8em;
}

/* zona para los estilos responsive */
@media(min-width: 1024px) {
    html {
        font-size: 20px;
    }
    .enlace-menu {
        padding: 0 10%;
    }
    .enlace-menu:hover {
        font-size: 1.3em;
    }
    .espacio-logo-menu {
        height: 90%;
    }
    .hero {
        height: 60vh;
    }
    h1 {
        font-size: 7em;
    }

    .horizontal-flex {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8%;
    }
    .horizontal-flex p {
        margin-bottom: 0;
        flex: 0 0 40%;
        text-align: justify;
    }
    .horizontal-flex img {
        width: 30%;
    }

    iframe {
        display: block;
        width: 40%;
        margin-bottom: 0;
    }

    .horizontal-flex-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
    }
    label {
        font-size: 1em;
    }
    input, select {
        font-size: 0.8em;
    }
    .boton-formulario {
        width: 10%;
        font-size: 1.4em;
    }
}